---
import { Aside } from "@astrojs/starlight/components";
---
<script>
  const subscribedToUpdates = localStorage.getItem('subscribedToUpdates');
  if(subscribedToUpdates !== 'true') {
    const form = document.querySelector('.embeddable-buttondown-form') as HTMLFormElement;
    form.style.display = 'block';
  }
</script>
<div>
  <Aside type="caution" title="Coming soon â³">
    This chapter is a work in progress.
    
  {<form
  action="https://buttondown.com/api/emails/embed-subscribe/compiler-in-typescript"
  method="post"
  target="popupwindow"
  class="embeddable-buttondown-form"
  onsubmit="localStorage.setItem('subscribedToUpdates', 'true');"
  style="display: none;"
>
  <label for="bd-email"><b>Want to stay updated with the progress? Subscribe to updates:</b></label>
  <input style="display: block;margin-top: 5px;width:300px" type="email" name="email" id="bd-email" placeholder="Your email" />
  <input style="display: block;margin-top: 10px;" type="submit" value="Subscribe" />
</form>}
</Aside>

</div>
